* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
    margin: 0;
    display: block;
}
#buttons {
    display: inline-block;
}
.content {
    display: none;
}
.container > li:last-child {
    list-style: none;
}

.red{
    color: red;
}
